.clear-both{
	clear:both;
}
#options-add_item_text .row.toolbar-action-rotate {
  float: left;
  text-align: left;
  width: 42%;
}
#options-add_item_text .row.toolbar-action-outline {
  float: right;
  text-align: left;
  width: 58%;
}
.row.toolbar-action-arc {
  clear: both;
}
.dg-slider.ui-slider {
  background: #f4f4f4 none repeat scroll 0 0;
  border: 1px solid #cacaca;
  border-radius: 2px;
  cursor: pointer;
  height: 7px;
}
.dg-slider.ui-slider .ui-slider-range{
background: #bebebe;
border: 0 none;
border-radius: 2px;
}
.dg-slider.ui-slider .ui-slider-handle {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #cacaca;
  border-radius: 50%;
  cursor: pointer;
  height: 22px;
  outline: medium none;
  top: -9px;
  width: 22px;
}
.my-font-list{
  display: inline-block;
  max-height: 90px;
  position: relative;
}
#dg-popover .dropdown.dropdown-nostyle{
  background:none;
  border: 0 none;
  border-radius: 0;
  box-shadow: none;
  float: right;
  height: auto;
  padding: 0;
  text-align: left;
}
#product-details.ps-container {
  max-height: 230px;
  overflow: hidden;
}

#dg-popover > .popover-content {
  position: relative;
}
.text-addons {
  position: relative;
}